<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="drumetie,trasee montane,munte">
        <meta name="description" content="Diverse trasee montane din Romania, dar nu numai">
        <title>Drumetii montane</title>
        <link rel="stylesheet" href="/resurse/css/galerie_statica_mare.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/galerie-animata.css" type="text/css" />

        <%- include("../fragmente/head") %>
        <link rel="stylesheet" href="/resurse/css/stil-printare.css" type="text/css" />
     
    </head>
    <body>
    <%- include("../fragmente/header") %>
        
        <main>
            
            <p id="watermark"></p>
<p id="absolut"></p>
            <div id="grid-pagina">
                <section id="welcome">
                    <h2>Bine ai venit!</h2>
                   
                    <p>Ne bucuram ca ne vizitezi site-ul si speram ca vrei sa te alaturi comunitatii noastre de montaniarzi!</p>
                    <p>Daca simti ca urmatorul citat te reprezinta, inseamna ca ai intrat pe site-ul potrivit:
                        <q>Mersul pe munte este o intoarcere acasa.</q>(John Muir)
                    </p>
                </section>
                <section id="calendar">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                         a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                         remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                         Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </section>
                <section id="tabel">
                    <h2>Programul acestei saptamani</h2>
                    <p>Aici puteti observa programul drumetiilor din saptamana aceasta si va asteptam sa veniti cu noi in oricare dintre 
                        drumetiile de mai jos.
                    </p>
                    <div id="container">
                    <table id="program_saptamanal">
                        <thead>
                            <tr>
                                <th>Nr. drumetie</th>
                                <th>Ziua saptamanii</th>
                                <th>Drumetia zilei</th>
                                <th>Locul cazarii</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td>Luni</td>
                                <td>Sinaia-Cota 2000-Piatra Arsa</td>
                                <td>Cabana Piatra Arsa</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Marti</td>
                                <td>Piatra Arsa-Vf.Omu-Malaiesti</td>
                                <td>Cabana Malaiesti</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Miercuri</td>
                                <td>Diham-Poiana Izvoarelor-Busteni</td>
                                <td>Busteni</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Joi</td>
                                <td>Busteni-M. Baiului-Azuga</td>
                                <td>Azuga</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Vineri</td>
                                <td>Canionul 7 Scari-Piatra Mare</td>
                                <td>Cabana Piatra Mare</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Sambata</td>
                                <td>Piatra Mare-Sacele</td>
                                <td>Brasov</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Duminica</td>
                                <td>Sinaia-Stana Regala-Sinaia</td>
                                <td>Acasa</td>
                            </tr>
                        </tbody>

                        <tfoot></tfoot>
                    </table>
                    </div>
                </section>
    
                <section id="anunturi">
                    <h2>Traseele saptamanii</h2>
                    <p><em>Datorita ninsorilor din acest weekend va recomandam cu caldura sa incercati domeniile schiabile din Romania.</em>
                         Chiar daca nu stiti sa practitati sporturile de iarna, este momentul potrivit sa invatati, indiferent de varsta
                         dumneavoastra (orice lucru are un inceput). </p>
                    <section>
                        <h3>Top statiuni de schi din tara</h3>
                        <ul>
                            <li>Sinaia</li>
                            <li>Poiana Brasov</li>
                            <li>Predeal</li>
                            <li>Harghita Bai</li>
                            <li>Straja</li>
                            <li>Ranca</li>
                            <li>Cavnic</li>
                            <li>Paltinis Sibiu</li>       
                        </ul>
                    </section>
                    <p>Totusi daca vreti sa faceti un traseu va recomandam sa aveti <b>echipament adecvat</b>,
                         sa va <b>calculati bine timpul</b>  pentru a nu va prinde noaptea in padure si sa aveti
                          o <b>conditie fizica buna</b> spre foarte buna.</p>
                    <section>
                        <h3>Top trasee de iarna</h3>
                        <ul>
                            <li>Teleschi Predeal-Clabucetul Taurului.<strong>Daca nu aveti echipament corespunzator
                                                                            opriti-va la Cabana Garbova!</strong></li>
                            <li>Predeal Cioplea-Cabana Susai</li>
                            <li>Cabana Gura Diham-Cabana Diham</li>
                        </ul>
                    </section>
                </section>
                <section id="informatii">
                    <h2>Recomandarea noastra</h2>
                    <p>Traseele pe care le recomandam in functie de experienta si forma fizica a fiecarei persoane</p>
                    <ul>
                        <li>Traseu usor pentru novici: Sinaia-Poiana Regala</li>
                        <li>Traseu mediu pentru persoanele experimentate: Cabana Gura Diham-Cabana Malaiesti (via Valea Glajeriei)</li>
                        <li>Traseu dificil pentru avansati: Busteni-Crucea Caraiman (via Jepii Mici)</li>
                    </ul>
                    <hr>
                        <h2>Intrebari frecvente</h2>
                        <details>
                            <summary>De unde imi pot cumpara echipament de munte corespunzator la un pret avantajos?</summary>
                            <p>Decathlon este prietenul de nadajde al pasionatilor de sport. Pentru a le vizita magazinul apasati
                                <a href="https://www.decathlon.ro/C-210375-drumetie-trekking" target="_blank">aici</a>
                            </p>
                        </details>
                        <details>
                            <summary>In caz ca intampin dificultati in timpul parcurgerii unui traseu la cine pot apela?</summary>
                            <p>In acest caz recomandam sa apelati fara ezitare<a href="https://www.salvamontromania.ro/" target="_blank"> Salvamont Romania</a>.</p>
                        </details>
                        <details>
                            <summary>Unde pot sa-mi gasesc cazare pentru urmatoarea mea tura pe munte?</summary>
                            <p>Cele mai accesibile preturi pentru cazari se gasesc pe site-ul celor de la <a href="https://www.booking.com/" target="_blank">Booking</a>.</p>
                        </details>
                    <hr>
                    
                        <h2>Inca nu esti convins ca vrei sa ni te alaturi?</h2>
                        <p>Daca inca nu te-am convins sa ni te alaturi, dorim sa-ti aratam cateva videoclipuri prin care 
                            sa-ti aratam de ce consideram muntele un <q>diamant nesefluit</q>. </p>
                        
                        <span class="material-icons-outlined">
                            video_camera_back
                            </span>
                        <div id="container_stilizare_task">
        
                            <iframe name="ifr-video" width="560" height="315" src="reusrse/Video/timelapse_1.mp4"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen></iframe>   
        
                            <div id="taburi_iframe">
                                <a href="/resurse/Video/timelapse_1.mp4" target="ifr-video"><b>Muntele vara</b></a>
                                <a href="/resurse/Video/timelapse_2.mp4" target="ifr-video"><b>Muntele iarna</b></a>
                                
                            </div>
                            
                        
                            
                        </div> 

                        <div id="galerie-statica">
                            <h2>Galerie</h2>
                            <div id="grid-galerie">
                                <% var count1=0 %>
                                <% var count2=0 %>
                                <% var count3=0 %>
                                <% var count4=0 %>
                                <% for (let imag of locals.imagini){   %>
                                    
                                    <% if (imag.tip==1 && imag.timp<=15 && count1<10){%>
                                        <figure>
                                            <picture>
                                                <source srcset="/<%-imag.mic%>" media="(max-width:680px)"/>
                                                <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="/<%-imag.mare%>" alt="Munte"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                        <%count1++%>
                                    <%}%>
                                    <% if (imag.tip==2 && imag.timp<=30 && imag.timp>15 && count2<10){%>
                                        <figure>
                                            <picture>
                                                <source srcset="/<%-imag.mic%>" media="(max-width:680px)"/>
                                                <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="/<%-imag.mare%>" alt="Munte"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                       <% count2++ %>
                                    <%}%>
                                    <% if (imag.tip==3 && imag.timp<=45 && imag.timp>30 && count3<10){%>
                                        <figure>
                                            <picture>
                                                <source srcset="/<%-imag.mic%>" media="(max-width:680px)"/>
                                                <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="/<%-imag.mare%>" alt="Munte"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                       <% count3++ %>
                                    <%}%>
                                    <% if (imag.tip==4 && imag.timp>45 && count4<10){%>
                                        <figure>
                                            <picture>
                                                <source srcset="/<%-imag.mic%>" media="(max-width:680px)"/>
                                                <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="/<%-imag.mare%>" alt="Munte"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                       <% count4++ %>
                                    <%}%>
                                
                            <%} %>
                            </div>
                        </div>
                    
                </section>

                <section id="sectiune-galerie-animata">
                    <h2>Galerie</h2>
                    <div id="galerie-animata" class="galerie-a">
                        <% for (let imag of locals.imagini){  %>
                            <!--<figure>
                                <img src="/<%-imag.mare%>" alt="briose">
                                <figcaption>Briose</figcaption>
                                </figure>-->
                                <figure>
                            <picture>
                                <!-- il ia pe primul care se potriveste cu query-ul din media-->
                                <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                                <img src="/<%-imag.mare%>" alt="text"/>
                            </picture>
                            <figcaption><%-imag.descriere%></figcaption>
                        </figure>
                        <% } %>
                    </div>
                </section>
    
                <section id="date_site_server">
                    <p><%- locals.ip %></p>
                </section>
                <section id="lista_utilizatori_online">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                         a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                         remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                         Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </section>
                <section id="utilizator_statistici">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                         a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                         remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                         Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </section>

            </div>
            
            

            
            <div id="disparitie_animatie">
                <div id="culoare_banner">
                    <span>Acesta este un proiect scolar</span>
                </div>
            </div>
            
            
        </main>

        <%- include("../fragmente/footer") %>

        

        
    </body>









</html>